* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  #board {
    border: solid black;
    width: 90%;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .gridBox {
      border: solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
